    /* background color */
    body {
      background-color: #ADD8E6; 
    }
    /* header */
    .header {
      background-color: #87CEFA; 
      text-align: center;
      padding: 20px;
    }
    /* content */
    .container {
      color: #00008B; 
      font-size: 1.5em; 
      text-align: justify;
      padding: 20px;
    }

